version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: journal_intime_db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: journal_intime
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
